h1 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 20px;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0;
}

.wrapper {
    padding: 50px;
}

.main_wrapper {
    width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.task_form {
    display: grid;
    grid-template-columns: 200px 100px 1fr;
    grid-column-gap: 10px;
}

.person_form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 10px;
}

.task_form > div, .person_form > div {
    margin: auto 0 0 0;
}

.label {
    display: block;
    font-size: 0.8rem;
    padding-bottom: 3px;
}

.input {
    display: block;
    width: 100%;
}

.select {
    display: block;
    width: 100%;
}

.task_list{
    background: #eeeeee;
    min-height: 130px;
}

.task_list > li {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding-bottom: 10px;
}

.task_list > li > div, button, span, .person_list > li > div, button {
    word-break: break-all;
    margin: auto 0;
}


.person_list > li {
    display: grid;
    grid-template-columns: 200px 70px;
    grid-column-gap: 10px;
    padding-bottom: 10px;
}

.button {
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    max-height: 30px;
    border-radius: 0.3rem;
    padding: 5px 10px;
}

.add_button {
    background:#A4C6FF;
}

.add_button:hover {
    background: #5D99FF;
    
}

.delete_button {
    background:#FA8072;
}

.delete_button:hover {
    background:#FF4500;
}

.task_button {
    background: #aaaaaa;
}

.task_button:hover {
    background: #666666;
}
