body {
    color: #555555;
}

header {
    padding-bottom: 20px;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    border-bottom: medium solid gray;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

a { 
    font-size: 1px;
    color: #FFFFFF;
    background: cadetblue;
    border: none;
    height: 10px;
    border-radius: 0.3rem;
    padding: 5px 8px;
    margin-right: 5px;

}

section, form {
    padding-top: 10px;
}

.wrapper {
    padding: 50px;
}

.main_wrapper {
    width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.task_form {
    display: grid;
    grid-template-columns: 200px 100px 1fr;
    grid-column-gap: 10px;
    margin-bottom: 30px;
}

.person_form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 10px;
    margin-bottom: 30px;
}

.task_form > div, .person_form > div {
    margin: auto 0 0 0;
}

.label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.input, .select{
    display: block;
    height: 35px;
    width: 100%;
}

.task_list, .person_list {
    background: #eeeeee;
    min-height: 140px;
    border-radius: 10px;
    padding: 10px 0 10px 20px;
    margin: 20px 0;
}

.task_list > li {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 15px;
}

.person_list > li {
    display: grid;
    grid-template-columns: 300px 70px;
    grid-column-gap: 10px;
    margin-bottom: 10px;
}

.task_list > li > div, span, .person_list > li > div {
    word-break: break-all;
    margin: auto 0;
}

.button {
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    height: 30px;
    border-radius: 0.3rem;
    padding: 5px 10px;
    margin: auto 0;
}

.add_button {
    background:#A4C6FF;
    height: 35px;
}

.add_button:hover {
    background: #5D99FF;
    height: 35px;
}

.delete_button {
    background:#FA8072;
}

.delete_button:hover {
    background:#FF4500;
}

.task_button {
    background: #aaaaaa;
}

.task_button:hover {
    background: #666666;
}
